body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {margin-top: 0;
margin-left: 1rem;}

figure img{
  width: 100%;
  height: auto;
   
}

a {
  color: #00B7FF;
}

h2{
  margin-left: 1rem;
}
.azul{
  background-color: #00B7FF;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  margin-left: 0;
}

.naranja{
  background-color: rgb(255, 187, 0);
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  margin-left: 0;
}

.wrap{
  display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
padding: 1rem;
justify-content: space-around;
  
}

article{
  width: 100%;
  background-color: white;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 3px #eee;
  -webkit-box-shadow: 2px 2px 3px #eee;
  -moz-box-shadow: 2px 2px 3px #eee;
  }


  @media screen and (min-width: 700px) { 
    article {
        width: 47%;

    }

  }

  @media screen and (min-width: 900px) { 
     article{
        width: 23%;

    }
  }